[submodule "third_party/google-benchmark"]
	path = third_party/google-benchmark
	url = https://github.com/google/benchmark.git
	shallow = true

[submodule "third_party/softmax_sim"]
	path = third_party/softmax_sim
	url = https://github.com/shinezyy/softmax_sim.git
